/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header Styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav {
    /* Add your navigation styles here */
  }
  
  /* Main Content Styles */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  a.button:hover {
    background-color: #555;
  }
  
  /* Course Styles */
  .course {
    margin-bottom: 20px;
  }
  
  .course img {
    max-width: 100%;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  h2 {
    color: cyan;
  }
  
  /* Feedback Form Styles */
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  